<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BingMapsKey" value="23YQEC4nlHjCu5Hlm7wk~QrwMzYiHSUH0FGMIG-OFzg~AjghfoXBrJE9J2K2Ik6UJ15-x1M0vCf88hsFuVOkpJ_kgJ_cPo9M20fzO-VDJieM"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>